body {
    display: flex;
    height: 95vh;
    align-items: center;
    font-size: 15px;
    background-image: url(/qr-code-component-main/images/frontend-mentor-4.png);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.background {
    display: flex;
    background-color: hsl(212, 45%, 89%);
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    box-shadow: 15px 20px 5px rgba(0, 0, 0, 0.1);
    height: 85vh;
    width: 95%;
}

.principal {
    display: flex;
    background-color: hsl(0, 0%, 100%);
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 15px 12px 5px rgba(0, 0, 0, 0.06);
    height: 60vh;
    width: 37vh;
}

.imagem {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
}

.imagem img {
    border-radius: 20px;
    height: 92%;
    width: 92%;
}

.text {
    height: 40vh;
    margin: 0 32px 0 32px;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-align: center;
}

.text h2 {
    font-weight: 700;
}

.text p {
    font-weight: 400;
    color: hsl(220, 15%, 55%);
}

@media screen and (max-height: 800px) {
    .text {
        margin: 0 22px 0 22px;
    }

    .text h2 {
        font-weight: 500;
    }

    .text p {
        font-weight: 200;
    }
}

@media screen and (max-height: 780px) {
    .text {
        margin: 0 15px 0 15px;
    }

    .text h2 {
        font-weight: 500;
    }

    .text p {
        font-weight: 200;
    }
}

@media screen and (max-height: 750px) {
    .text {
        margin: 0 12px 0 12px;
    }

    .text h2 {
        font-weight: 400;
    }

    .text p {
        font-weight: 150;
    }
}

@media screen and (max-height: 720px) {
    .imagem img {
        height: 88%;
        width: 90%;
    }

    .text {
        margin: 0px;
    }
}

@media screen and (max-height: 680px) {
    .principal {
        height: 70vh;
        width: 65vh;
    }

    .imagem img {
        height: 90%;
        width: 90%;
    }

    .text {
        display: none;
    }
}

@media screen and (max-width: 560px) {
    .imagem img {
        height: 80%;
        width: 80%;
    }
}

@media screen and (max-width: 375px) and (max-height: 667px) {
    .background {
        height: 85vh;
        width: 90%;
    }

    .principal {
        height: 35vh;
        width: 35vh;
    }

    .imagem img {
        height: 90%;
        width: 90%;
    }
    
}