body {
    display: flex;
    height: 98vh;
    align-items: center;
    font-size: 15px;
    font-family: "Outfit";
    background-image: url(/images/frontend-mentor-4.png);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.background {
    display: flex;
    background-color: hsl(212, 45%, 89%);
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    box-shadow: 15px 20px 5px rgba(0, 0, 0, 0.1);
    height: 53em;
    width: 120em;
}

.div-main {
    display: flex;
    background-color: hsl(0, 0%, 100%);
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 15px 12px 5px rgba(0, 0, 0, 0.06);
    width: 25em;
}

.qr-code {
    margin: 15px;
}

.qr-code img {
    border-radius: 20px;
    width: 100%;
}

.div-text {
    margin: 0 15px 15px 15px;
    padding: 0 33px 0px 33px;
    text-align: center;
}

.div-text h2 {
    color: hsl(218, 44%, 22%);
    font-weight: 700;
}

.div-text p {
    color: hsl(220, 15%, 55%);
    font-weight: 400;
}

@media screen and (max-width: 415px) {
    .background {
        width: 30em;
    }

    .div-main {
        width: 20em;
    }
}

@media screen and (max-height: 600px) {
    .background {
        height: 38em;
        width: 50em;
    }

    .div-main {
        width: 19em;
    }
}

@media screen and (max-height: 550px) {
    .background {
        height: 32em;
    }

    .div-text {
        display: none;
    }

    .div-main {
        width: 27em;
    }
}